<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shangxian.art"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ainonggu"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".ClassificationActivity"
            android:label="@string/title_activity_classification" >
        </activity>
        <activity
            android:name=".ShoppingcartActivity"
            android:label="@string/title_activity_shoppingcart" >
        </activity>
        <activity
            android:name=".NearlyActivity"
            android:label="@string/title_activity_nearly" >
        </activity>
        <activity
            android:name=".MineActivity"
            android:label="@string/title_activity_mine" >
        </activity>
        <activity
            android:name=".ClassifyCommodityActivity"
            android:label="@string/title_activity_classification" >
        </activity>
        <activity
            android:name=".CommodityContentActivity"
            android:label="@string/title_activity_classification" >
        </activity>
        <activity
            android:name=".MerchandiseControlActivity"
            android:label="@string/title_activity_mine" >
        </activity>
        <activity
            android:name=".ShangPinWeiHuActivity"
            android:label="@string/title_activity_mine" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_mine" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_classification" >
        </activity>
        <activity
            android:name=".RegistActivity"
            android:label="@string/title_activity_regist" >
        </activity>
        <activity android:name=".AccountSecurityActivity" >
        </activity>
        <activity android:name=".LocationActivity" >
        </activity>
        <activity android:name=".ConfirmOrderActivity" >
        <activity
            android:name=".AccountSecurityActivity"
            android:label="@string/title_activity_account_security" >
        </activity>
        <activity
            android:name=".RegistSogoActivity"
            android:label="@string/title_activity_regist_sogo" >
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_regist_sogo" >
        </activity>
    </application>

</manifest>